div {
    background: skyblue;
    color: black;
}

body {
    background: lightblue;
}

img {
    height: 550px;
    border-radius: 95%;
}

div {
    text-align: center;
}

h1 {
    font-family: Lucida Handwriting;
    color: black;
}

h2 {
    font-style: italic;
    color: white;
}

h3{
    font-family: Franklin Gothic Medium;
}

p {
    color: red;
}

